*{
    margin: 0;
    padding: 0;
    color: bisque;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerA{
    margin: 30px;
}

.containerImg{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* 
img2{

}

img4{

}

img6{

}

img8{

}

img10{

}

imgTrop{

} */


/* Footer */
/* footer{
    background-color: #333;
    border-top: 1px solid #f00780;
    height: 10vh;
    text-align: center;
    align-content: center;
}

#design{
    color: aliceblue;
}

#Alouka{
    color: #f00780;
} */