*{
    margin: 0;
    padding: 0;
}

/* Changer de police d'écriture 
    Trouver une police classe
*/
/* Changer les boutons
    Souhaits: paillettes & wahou
    Sous : + classe avec une border étoilée, qui scintille
    non : Très sombre, peu visible et qui "disparait" au survol + 0 padding  => ok
*/
/* 
Changer la couleur rose pour une couleur plus simple à voir sur le noir
*/

#page{
    height: 89vh;
}
html{
    background-color: #333;
}

main{
    text-align: center;
    background-color: #333;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#jours{
    color: aliceblue;
}

.trente{
    color: #555;
}

#photo{
    max-width: 250px;
    border-radius: 50%;
    margin: 2%;
}

.txt{
    color: aliceblue;
}
.multiple-text{
    color: #f00780;
}

#buttonContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    gap: 20%;
}

button{
    padding: 1%;
    margin-top: 2%;
    border-radius: 12px;
    font-size: initial;
}

a{
    text-decoration: none;
}

.liste{
    border: 1px #f00780 solid;
    background: linear-gradient(to left, #f00780 20%, #ff0777 30%, #ff8cb0 40%, #ff0766 50%, #ff8cb0 70%, #ff0777 80%, #f00780 100%);
}


.heritier{
    border: 1px #D3A84C solid; 
    background: linear-gradient(to left, #a47a1e 20%, #D3A84C 30%, #FFEC94 40%, #E6BE69 50%, #FFD87C 70%, #B58F3E 80%, #956D13 100%);
    /* Fond gradient a47a1e D3A84C FFEC94 E6BE69 FFD87C B58F3E 956D13 */
    /* background-color: #333; */
}

.heritier a, .liste a, .non a {
    color: #333; 
    transition: 1s ease-in-out;
}

.heritier a:hover, .liste a:hover{
    letter-spacing: 5px;
    transition: 0.5s ease-in-out;
}


.non{
    background-color: #444;
    border: none;
    margin: 2%;
}

.non a{
    cursor: not-allowed;
}

.non:hover{
    background-color: #333;
    border: none;
    padding: 0;
}

footer{
    background-color: #333;
    border-top: 1px solid #f00780;
    height: 10vh;
    text-align: center;
    align-content: center;
}

#design{
    color: aliceblue;
}

#Alouka{
    color: #f00780;
}